$width: 1400px
$padding: 20px

body
	font-family: 'PT Sans', sans-serif

.container
	max-width: $width
	background-color: green
	margin: 0 auto
	box-sizing: border-box
	box-shadow: 0 0 10px rgba(0,0,0,0.5)

.page-header
	min-height: 100px
	background-color: purple
	padding: $padding
	// position: sticky
	// top: 0

.page-main
	min-height: 100vh
	background-color: orange
	display: grid
	grid-template-columns: 20% 1fr 20%
	// grid-gap: 10px

.page-nav
	padding: $padding

.page-content
	background-color: red
	padding: $padding

.page-aside
	padding: $padding

.page-footer
	background-color: #ccc
	min-height: 100px
	padding: $padding

.image
	display: block
	border: 1px solid black
	width: 100%
	margin: 10px 0