$width: 1600px
$padding: 20px
$color-blue: #0b0038
$color-orange: #ce4900

body
	font-family: 'PT Sans', sans-serif

.container
	max-width: $width
	margin: 0 auto
	box-sizing: border-box
	box-shadow: 0 0 10px rgba(0,0,0,0.5)

.page-header
	min-height: 400px
	padding-top: $padding
	display: grid
	grid-template-columns: 1fr 3fr 1fr
	grid-template-rows: 1fr
	background-repeat: no-repeat
	position: relative
	&::before
		content: ""
		background-image: url(../img/background.jpg)
		background-position: center
		top: 0
		left: 0
		bottom: 0
		right: 0
		position: absolute
		z-index: -1
		background-size: cover
		opacity: 0.5

.logo-gatchina
	& img
		display: block
	margin: 0 auto

.logo-txt
	text-align: center
	font-size: 24px

.logo-gkh 
	border: 1px solid black
	& svg
		border: 1px solid black


.page-main
	min-height: 100vh
	background-color: orange
	display: grid
	grid-template-columns: 1fr 3fr 1fr

.page-nav
	padding: $padding
	border-radius: 15px

.page-content
	background-color: red
	padding: $padding
	border-radius: 15px

.page-aside
	padding: $padding
	border-radius: 15px

.page-footer
	background-color: #ccc
	min-height: 50px
	padding: $padding
	display: flex
	justify-content: center
	align-items: center

.image
	display: block
	border: 1px solid black
	width: 100%
	margin: 10px 0

// Стилизация кнопок и ссылок

.btn

.link

