$width: 1400px
$padding: 20px

body
	font-family: 'PT Sans', sans-serif

.container
	max-width: $width
	background-color: green
	margin: 0 auto
	box-sizing: border-box
	box-shadow: 0 0 10px rgba(0,0,0,0.5)

.page-header
	min-height: 75px
	background-color: #808080
	padding-top: $padding
	display: grid
	grid-template-columns: 1fr 3fr 1fr
	// position: sticky
	// top: 0

.logo-gatchina
	& img
		display: block
	margin: 0 auto

.logo-txt
	text-align: center
	font-size: 24px

.logo-gkh
	& img
		display: block
	margin: 0 auto

.page-main
	min-height: 100vh
	background-color: orange
	display: grid
	grid-template-columns: 1fr 3fr 1fr

.page-nav
	padding: $padding
	border-radius: 15px

.page-content
	background-color: red
	padding: $padding
	border-radius: 15px

.page-aside
	padding: $padding
	border-radius: 15px

.page-footer
	background-color: #ccc
	min-height: 50px
	padding: $padding
	display: flex
	justify-content: center
	align-items: center

.image
	display: block
	border: 1px solid black
	width: 100%
	margin: 10px 0